/*myPlaylist*/
.myPlaylist {
  padding: 0 20px;
}

.myPlaylist :any-link:hover {
  color: rgba(205, 133, 63, 80%);
  transform: scale(1.1);
}

.myPlaylist-item {
  & a {
    color: red;
    text-decoration: none;
    font-size: .8em;
    display: block;
    margin-bottom: 7px;
    &:hover {
      text-decoration: underline;
    }
  }
  &:last-child a {
    margin-bottom: 0;
  }
  @nest .myPlaylist & {
    border: 5px dashed yellow;
  }
}

/* .myPlaylist .myPlaylist-item {
} */

.myPlaylist-item:matches(:last-child, :nth-of-type(3), :first-child){
  background: rgba(255, 0, 0, 70%);
}

.myPlaylist-item:not(:last-child, :nth-of-type(3)){
  background: rgba(0, 0, 255, 60%);
}