:root {
  --darkColor: #15192a;
  --lightColor: white;
  --warningColor: red;
  --button: {
    border: 1px solid var(--lightColor);
    border-radius: 5px;
    background: var(--darckColor);
    color: var(--lightColor);
    padding: .5em 2em;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 11px;
    border-bottom: 5px solid var(--lightColor);
  };
  --viewportHeight: 50vh;
}

/* @custom-media --small screen and (max-width: 768px); */
@custom-media --extra-small (width < 480px);
@custom-media --small (width < 768px);
@custom-media --medium (width >= 768px);
@custom-media --large (width >= 1024px);

@media (--small) {
  body {
    border: 10px solid blue;
  }
}

@media (--extra-small) {
  body {
    border: 10px solid orange;
  }
} 


/* @custom-selector :--nombreDelSelector .elemento > .hijo; */
@custom-selector :--checkeable .checkbox-label, .radio-label;
@custom-selector :--hightlight :hover, :active;
